body {
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #1F2937;
    padding-bottom: 50px;
}

.flex-container {
    display: flex;
    width: 70%;
    margin: auto;
    gap: 10px;
}

.logo {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    flex: 1 1 auto;
    justify-content: space-around left;
    align-items: center;
}

.links {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    gap: 15px;
}

.link {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-text {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid black;
}

.title {
    border: 2px solid white;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.hero-secondary {
    border: 2px solid white;
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
}

button{
    color: #f9faf8;
    font-weight: bold;
    max-width: 100px;
    background-color: #3882f6;
    border: none;
    padding: 3px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

.hero-image {
    border: 1px solid black;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

img {
    max-width: 100%;
}