* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    padding-top: 10px;
    background-color: #1F2937;
    padding-bottom: 50px;
}

.flex-container {
    align-items: stretch;
    display: flex;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    gap: 10px;
}

.logo {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    flex: 1 1 auto;
    justify-content: space-around left;
    align-items: center;
}

.links {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    gap: 15px;
}

.link {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-text {
    padding: 0;
    display: flex;
    align-self: stretch;
    align-content: stretch;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
}

.button-1 {
    color: #f9faf8;
    font-weight: bold;
    max-width: 100px;
    background-color: #3882f6;
    border: none;
    padding: 3px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

.hero-image {
    margin: 0;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

img {
    max-width: 100%;
}

.body-one {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: stretch;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.body-one>.title {
    padding-bottom: 10px;;
    margin: auto;
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;

}

.gallery {
    padding-top: 10px;
    display: flex;
    flex: 1 1 0;
    justify-content: space-around;
}

.illustration-description {
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    align-items: center;
}

.illustration {
    width: 100px;
    height: 100px;
}

.illustration img {
    border: 3px solid #3882f6;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    color: #1F2937;
    width: 103px;
    padding-top: 10px;
    text-align: center;
}

.body-quote {
    background-color: #e5e7eb;
}

.quote {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.quote-text {
    text-align: justify;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.author {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.action {
    padding-top: 40px;
    padding-bottom: 40px;
}

.actionblock {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    margin: auto;
    width: 70%;
    background-color: #3882f6;
    color: white;
}

.call-to-action {
    flex: 1;
    font-weight: bold;
    font-size: 18px;
}

.buttonbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
}

.button-2 {
    color: #f9faf8;
    font-weight: bold;
    width: 100%;
    background-color: #3882f6;
    border: 2px solid white;
    padding: 3px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

.footer {
    font-size: small;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1F2937;
    color: #f9faf8;
    text-align: center;
}